* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: #5e5c5c;
}
#root {
  background-color: #0B2434;
  max-width: 550px;
  margin: 0 auto;
  height: 100vh;
  font-family: 'Inter', sans-serif;
}
.container {
  background-color: #F5F5F5;
  height: 100%;
  padding-top: 0px;
  position: relative;
}
.header {
  background-color: #FFF7ED;
  height: 110px;
}
.header nav {
  width: 30%;
  float: right;
  padding-top: 45px;
}
.header nav a {
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  color: #4D4D4D;
  padding-left: 15px;
}
.header .logo {
  width: 40%;
  float: left;
  padding-top: 10px;
  padding-left: 30px;
}
.header .logo a {
  text-decoration: none;
  font-weight: 900;
  font-size: 20px;
  color: #000;
}
.footer {
  background-color: #252525;
  color: #AAAAAA;
  height: 75px;
  display: grid;
  align-items: center;
  position: absolute;
  bottom: 0px;
  width: 100%;
}
.footer p {
  margin: 0 auto;
  font-size: 15px;
}