* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: #5e5c5c;
}
a {
  text-decoration: none;
}
#root {
  background-color: #0B2434;
  max-width: 550px;
  margin: 0 auto;
  height: 100vh;
  font-family: 'Inter', sans-serif;
}
.container {
  background-color: #FFF7ED;
  padding-top: 0px;
  position: relative;
}
.header {
  background-color: #FFF7ED;
  height: 110px;
}
.header nav {
  width: 35%;
  float: right;
  padding-top: 45px;
}
.header nav a {
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  color: #4D4D4D;
  padding-left: 15px;
}
.header nav a:hover {
  color: #161616;
  text-decoration: underline;
}
.header .logo {
  width: 40%;
  float: left;
  padding-top: 10px;
  padding-left: 30px;
}
.header .logo a {
  text-decoration: none;
  font-weight: 900;
  font-size: 20px;
  color: #000;
}
.footer {
  background-color: #161616;
  color: #AAAAAA;
  height: 74px;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  font-weight: 500;
  width: 100%;
}
.home-banner {
  background: url('./assets/images/home-banner.png') no-repeat;
  height: 80vh;
  background-size: cover;
}
.home-banner .content {
  padding: 150px 30px;
}
.home-banner .content h3.plans {
  font-size: 36px;
  color: #fff;
}
.home-banner .content p {
  color: #fff;
  line-height: 24px;
}
.home-banner .content a {
  background-color: #FF8C38;
  width: 500px;
  height: 50px;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  margin-top: 20px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  line-height: 50px;
}
.about-banner {
  background: url('./assets/images/about-banner.png') no-repeat;
  height: 210px;
  background-size: cover;
}
.about-page {
  background-color: #FFF7ED;
  height: 80%;
}
.about-content {
  padding: 0px 20px;
}
.about-content h3 {
  color: #161616;
  font-size: 32px;
  margin-top: 10px;
}
.about-content p {
  line-height: 22px;
}
.about-page .explore-vans {
  padding: 1px 25px 15px 25px;
  background-color: #FFCC8D;
  border-radius: 5px;
  margin-bottom: 35px;
}
.about-page .explore-vans h4 {
  font-size: 24px;
}
.about-page .explore-vans a {
  background-color: #161616;
  color: #fff;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
}
.van-list-container {
  padding-inline: 23px;
  padding-bottom: 20px;
  background-color: #FFF7ED;
}
.van-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 34px;
  margin-top: 57px;
}
.van-tile a {
  color: #161616;
  text-decoration: none;
}
.van-tile img {
  max-width: 100%;
  border-radius: 5px;
}
.van-list-container button {
  margin-right: 20px;
  cursor: pointer;
}
.van-type {
  height: 34px;
  padding: 6px 26px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  background-color: #FFEAD0;
  color: #4D4D4D;
  transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
}
.van-type:hover {
  color: #FFEAD0;
}
.van-type:focus {
  outline: none;
}
.van-type.selected {
  color: #FFEAD0;
}
.van-type.simple:hover, .van-type.simple.selected {
  background-color: #E17654;
}
.van-type.rugged:hover, .van-type.rugged.selected {
  background-color: #115E59;
}
.van-type.luxury:hover, .van-type.luxury.selected {
  background-color: #161616;
}
.van-type.clear-filters {
  margin-left: -20px;
  height: 34px;
  padding: 6px 26px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  text-decoration: underline;
  background-color: transparent;
  color: #4D4D4D;
}
i[class*='van-type-'] {
  padding: 7px 14px;
}
.van-list a,
.listed-host-vans a {
  color: #161616;
}
.van-list a p,
.listed-host-vans a p {
  color: #4D4D4D;
}
.van-detail {
  padding: 20px;
  background-color: #FFF7ED;
}
a.back-to-vans {
  color: #858585;
  margin-bottom: 10px;
  float: left;
  margin-bottom: 20px;
}
a.back-to-vans span {
  color: #000;
}
a.back-to-vans:hover span {
  text-decoration: underline;
}
.van-detail .van-type {
  top: 10px;
  position: relative;
}
.van-detail h3 {
  margin-top: 30px;
  font-size: 30px;
}
.van-detail p span.price {
  font-size: 18px;
  font-weight: 700;
}
.van-detail p.description {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 30px;
}

.host-nav {
  display: flex;
}
.host-nav a {
  text-decoration: none;
  color: #4D4D4D;
  font-weight: 500;
  padding: 5px 20px;
}
.host-nav a:hover {
  color: #161616;
  text-decoration: underline;
  font-weight: 600;
}
.header nav a.is-active,
.van-detail nav a.is-active {
  font-weight: bold;
  text-decoration: underline;
  color: #161616;
}

.listed-host-vans {
  padding: 0 20px;
}
.van-host-tile {
  width: 100%;
  height: 90px;
  margin: 20px 0px;
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
}
.van-host-tile .left-side {
  max-width: 20%;
  float: left;
}
.van-host-tile .right-side {
  float: left;
  line-height: 5px;
}
.van-host-tile .left-side img {
  max-width: 70%;
  border-radius: 5px;
}

.host-van-detail-container {
  float: left;
  padding-bottom: 20px;
}
.host-van-detail-container .van-detail {
  padding: 20px;
  background-color: #FFF7ED;
}
.host-van-detail-container .van-tile {
  background-color: #fff;
  float: left;
  padding: 20px;
}
.host-van-detail-container .van-tile .top-info {
  float: left;
  width: 100%;
}
.host-van-detail-container .van-detail .van-tile img {
  border-radius: 5px;
  width: 30%;
  float: left;
  margin-right: 25px;
}
.host-van-detail-container .van-detail .van-info {
  width: 60%;
  float: left;
  line-height: 10px;
}
.host-van-detail-container .van-detail .van-tile h3 {
  margin-top: 45px;
}
.host-van-detail-container .van-detail .van-tile .bottom-info {
  float: left;
}
.host-van-detail-container .bottom-info p {
  font-size: 16px;
}
.host-van-detail-container .bottom-info p span {
  font-weight: 600;
}
.host-van-detail-container .bottom-info p.type {
  text-transform: capitalize;
}
.host-van-detail-container .host-nav {
  float: left;
  margin-top: 10px;
}
.host-van-detail-container .host-van-detail-info {
  padding: 40px;
  background-color: #fff;
}
.host-van-detail-container .host-van-detail-info p.type {
  text-transform: capitalize;
}
.host-van-detail-container .host-van-detail-info img {
  max-width: 20%;
}
.van-list-filter-buttons a.van-type {
  margin: 0 5px;
}